/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
Button.btn{
    -fx-background-color:#3c67dd;
}
ImageView.nazad {
    -fx-image: url("nazad.png"); 
}
Pane.zaglavlje{
    -fx-background-color:#3c67dd;
}
ImageView.pozadina {
    -fx-image: url("pozadina.png"); 
}